@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Roboto-Regular.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Roboto-Regular.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Roboto-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Roboto-Regular.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Roboto-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

*{
    padding: 0;
    margin:0;
    box-sizing:border-box;

}
body{
    font-family: "Roboto-Regular";
}
/* Import font roboto. */
.mainwrapper{
    position:relative;
    height:100vh;
    overflow:hidden;
}
.bgboxyellow{
    position: absolute;
    width: 100%;
    height: 40vh;
    
    top: 0px;
    background: #F9FB94;
    z-index:-1;
}
.bgboxyellow::before{
    content:'';
    position: absolute;
    width: 150%;
    height: 40vh;
    top: 15vh;
    left:-10vh;
    background: #F9FB94;
    transform: rotate(-6.35deg);
    z-index:-1;
}
.bgboxgreen{
    position: absolute;
    width: 50vh;
    height: 60vh;
    bottom:-26vh;
    right:-30vh;
    background: rgba(38, 152, 87, 0.3);
    transform: rotate(38.33deg);
}
.bgboxblack{
    position: absolute;
    width: 50vh;
    height: 60vh;
    bottom:-26vh;
    right:-50vh;
    background: rgba(0, 0, 0, 0.4);
    transform: rotate(38.33deg);
}
.mainbox{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-65%);
    width: 50%;
    height:70%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding:10px;
}
.header, .footer{
    display:flex;
    width:50%;
    margin: 0 auto -3vh;
    justify-content: space-between;
    align-items: center;
}
.footer{
    margin-top:8vh;
    color: black;
    font-size:.8em;
}

/* Page 1 Elements */
.mainbox .lowerNotice{
    position: absolute;
    display:flex;
    bottom:6vh;
    left:3vh;
    width:auto;
    height:20%;
    
    align-items: center;
}
.mainbox img{
    opacity:0.3;
}
.mainbox .noticeText{
font-size:1.3em;
color:rgb(98, 98, 98);
margin-left:-10vh;
}
.routeSelect{
    margin:0 auto;
    text-align: center;
    margin-top:40px;
}
input{
    width:80%;
    height:5vh;
    padding:10px 20px;
    border-radius:20px;
    border:1px solid #e3e3e3;
    text-align:center;
    outline:none;
    font-size:1.1em
}
.boxHeader{
    text-align:center;
    margin-top:10%;
}
.btn{
    text-align:center;
    margin-top:25px;
}
#btn{
    width:40%;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border:1px solid #e3e3e3;
    border-radius:20px;
    background-color:#F9FB94;
    color:black;
    font-size:1.3em;
    padding: 8px 20px;
}



/* MEDIA QUERIES */



/* Page 2 */
.boxyBox{
    position: relative;
    /*display:flex;*/
    overflow-y: scroll;
    justify-content:space-around;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    width: 60%;
    height: 70vh;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);ohh
  }
  .boxyBox strong{
    font-size:1.3em;
  }
  .boxyBox p{
    margin-left:10px;
    margin-top:15px;
  }
  .col-1,.col-2,.col-3{
    padding:30px;
    width:30%;
    text-align:center;
  }
  .col-1,.col-2{
    border-right: 1px solid rgba(0,0,0,0.06);
  }
  .goBack{
    position:absolute;
    display:flex;
    bottom:10%;
    left:8%;
    padding: 20px;
    cursor:pointer;
  }
  .goBack span{
    margin-right:10px;
    background-color:black;
    color:white;
    border-radius:50%;
    padding:12px;
    line-height:1;
  }
  .goBack div{
    line-height:1.7;
    font-size:1.3em
  }